<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="insBasicForm" name="insBasicForm"  method="post">
    <input type="text" id="mobilePhoneNumber" name="mobilePhoneNumber" maxlength="10" placeholder="Telephone Number (Mobile- 10 Digits)" class="w100p" />
    <input type="button" name="" value="submit" class="btn" onclick="createUrl()">
</form>
<script type="text/javascript">
    function createUrl(){
    let mobilePhoneNumber = document.getElementById("mobilePhoneNumber").value;
    window.location =  "/api/v1/checkPhoneNumber/"+mobilePhoneNumber;
    }
</script>
</body>

</html>